# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.sublime-*

# Env / secrets (if you add any later)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Next.js
.next/
out/
build/

# Optional: uncomment to ignore source assets
# *.psd

# Prisma
prisma/migrations/

# Dependencies
node_modules/